/* ?Border properties are short-hand porperties of below all */

#box2{
    height:500px;
    width:500px;
    border : 5px ridge  crimson ;
    border-left: 50px;
    border-right: 50px;
    border-top: 70px;
    border-bottom: 70px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuB1AtQzY8B88zdxIXKWkuIiu7_dFQmeqF2A&s") center  no-repeat;
    background-color: chartreuse;
    background-size:cover ;

    /* border-radius: 10px 20px 30px 40px;
    /* top-left, top-right,bottom-right,bottom-left */
    /* border-radius: 10px,20px,30px; */
    /* top-left,top-right&bottom-left,bottom-right */
    /* border-radius: 10px,20px; */
    /* top-left&bottom-right ,top-right&bottom-left */
    /* border-radius: 50px; */
    /* top-right&bottom-right&top-left&bottom-left */ 

}



table{
border-collapse: collapse;
/* It will specify whether we need to separate the table  cells or not
Values:sepate(d),collapse */
border-collapse: separate;
border-spacing: 50px;
/* It is  alternative to cellspacing & to specify the border */
/* it will work only if the  border cells are separated
Values:n px */
/* If I declare the border-spacing & then I declare the collapse it does not make any change  and it is meaningless */


}

