*{
 margin: 0;
padding: 0;
}

#box{
    height: 300px;
    width: 300px;
    border: solid red;

    /* padding:50px */
padding-top: 70px;
padding-bottom: 20px;
padding-left:50px;
padding-right:40px;

/* margin: 50px; */
margin-top: 80px;
margin-bottom: 20px;
margin-left: 30px;
margin-right: 70px;
}
