#box{
    height: 200px;
    width: 200px;
    border: solid orchid;
    padding: 20px;


    /* margin: 10px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom:30px;
    margin-left: 40px; */
    margin: 10px 20px 30px 40px;
/* top,right,bottom,left */
margin: 10px 20px 30px;
/* top,left&right,bottom */
 
margin: 10px 20px;
/* top&bottom,left&right */
margin: 10px;
/* for all sides */

}
#box{
    margin: 0px;
    margin-left: -50px;
    margin-top: 100px;
    margin-top: -50px;
    /* Margin acceppts negative values also but not in padding */
    padding: 10px 20px 30px 40px;
    padding: 10px 20px 30px;
    padding: 10px 20px;
    padding: 10px;
}
section{
    height: 400px;
    border: solid blue;

}
section #innerbox{
    height:200px;
    width: 200px;
    border: solid  blueviolet ;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 60px;
    margin 50px auto;
}