*{
    margin: 0;
    padding: 0;
    background-origin: border-box;
}
#kurticollection{
    height: 480px;
    /* border: solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#kurticollection article{
    border: 0.5px solid grey;
    height: 90%;
    width: 250px;
    cursor: pointer;
    border-radius: 10px;
}
#kurticollection article .imagepart{
height: 70%;
display: flex;
justify-content: center;
align-items: center;

 }
 
#kurticollection article .imagepart img{
height: 100%;
width: 100%;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

#kurticollection article .infopart{
height: 30%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: start;
padding: 10px;
gap: 5px;
}
#kurticollection article .infopart .productTitle{
    flex: 1;
    color: rgb(139, 139, 163);
}
#kurticollection article .infopart .price{
flex: 3;
font-weight: bold;
font-size: 28px;

}
#kurticollection article .infopart .DeliveryDiv{
flex: 1;

}
#kurticollection article .infopart .DeliveryDiv button{
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 10px;

}

#kurticollection article .infopart .rating_count{
    flex: 20;
    display: flex;
justify-content: center;
align-items: center;
gap: 10px;    

}
#kurticollection article .infopart .rating_count .rating{
    background-color: #038D63;
    color: white;
    padding: 5px 10px;
    border-radius:20px ;

}
#kurticollection article .infopart .rating_count .count{
color: #8b8ba3;
font-size: 12px;
}

