*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    height: 300px;
    width: 800px;
    border: 10px solid blue;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: repeat(3,100px);
}
#container div{
background-color: skyblue;

display: flex;
justify-content: center;
align-items: center;
/* font-weight: bold; */
font-size: 10px;
}
#container div:nth-child(1){
grid-column-start: 1;
grid-column-end:3 ;
grid-row-start:1 ;
grid-row-end: 2;
}
#container div:nth-child(2){
grid-column-start: 1;
grid-column-end:3 ;
grid-row-start:1 ;
grid-row-end: 2;
}
#container div:nth-child(3){
grid-column-start: 1;
grid-column-end:3 ;
grid-row-start:1 ;
grid-row-end: 2;
}
#container div:nth-child(4){
grid-column-start: 3;
grid-column-end:4;
grid-row-start:1 ;
grid-row-end: 2;
}
#container div:nth-child(5){
grid-column-start: 2;
grid-column-end:3 ;
grid-row-start:2 ;
grid-row-end: 3;
}