#index-1{
    height: 100px;
    width: 300px;
    background-color: red;
    position: absolute;
    padding: 50px;
    top: 100px;
    left:100px;
    text-align: center;
    font-weight: bold;
    z-index: -3;
}

#index-2{
    height: 100px;
    width: 300px;
    background-color: blue;
    position: absolute;
    padding: 50px;
    top: 50px;
    left:50px;
    text-align: center;
    font-weight: bold;
    z-index: -2;
}

#index-3{
    height: 100px;
    width: 300px;
    background-color: olive;
    position: absolute;
    padding: 50px;
    top: 200px;
    left:200px;
    text-align: center;
    font-weight: bold;
    z-index: -1;
}

#index-4{
    height: 100px;
    width: 300px;
    background-color: green;
    position: absolute;
    padding: 50px;
    top: 150px;
    left:150px;
    text-align: center;
    font-weight: bold;
    z-index: 1;
}